:root {
  --light-blue: #94b9e9;
  --blue: #568dd6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  height: 250px;
  /* background: rgb(174,183,238);
  background: radial-gradient(circle, rgba(174,183,238,1) 0%, rgba(148,212,233,1) 100%);  */
  color: rgb(0, 0, 0);
}

.header-text {
  height: 100%;
  display: flex;
  align-items: center;
}

.search-form {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.search-form * {
  font-family: inherit;
}

.search-form input {
  padding: 0 5px;
  width: 25%;
  min-width: 250px;
  border-radius: 5px;
  border: 1px solid black;
  border-right: none;
}

.search-form button {
  border: 1px solid rgba(0, 0, 0, 0.397);
  width: 50px;
  margin-left: -50px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--light-blue);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  padding: 5px;
  transition: 0.15s;
}

.search-form button:hover {
  background-color: var(--blue);
}