:root {
  --light-blue: #80ace6;
  --blue: #4876b3;

  --grey: #2b4366;
  --dark: #162335;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: var(--dark);
  
  padding: 10px;
}


.nav-content {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
}

.search-form {
  display: flex;
}

.search-form * {
  font-family: inherit;
}

.search-form input {
  padding: 0 5px;
  min-width: 250px;
  /* border: 1px solid black; */
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: none;
}

.search-form button {
  color: white;

  /* border: 1px solid rgba(0, 0, 0, 0.397); */
  border: none;
  width: 50px;
  margin-left: -48px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--grey);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  padding: 5px;
  transition: 0.15s;
}

.search-form button:hover {
  background-color: var(--blue);
}

.dropdown {
  color: white;

  text-align: center;
  /* border: 1px solid rgba(0, 0, 0, 0.397); */
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--grey);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  padding: 5px;
  transition: 0.15s;
}

.dropdown:hover {
  background-color: var(--blue);
}