:root {
  --light-blue: #80ace6;
  --blue: #4876b3;

  --grey: #2b4366;
  --dark: #162335;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: var(--dark);
  
  padding: 10px;
}


.nav-content {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

.search-form {
  display: flex;
}

.search-form * {
  font-family: inherit;
}

.search-form input {
  padding: 0 5px;
  min-width: 250px;
  width: 100%;
  border: none;
  border-right: none;
}

.search-form button {
  color: white;
  border: none;
  width: 50px;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--grey);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  padding: 5px;
  transition: 0.15s;
}

.search-form button:hover {
  background-color: var(--blue);
}

.dropdown {
  color: white;
  text-align: center;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--grey);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  padding: 5px;
  transition: 0.15s;
}

.dropdown:hover {
  background-color: var(--blue);
}

.content {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.content-container {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.card {
  margin: 15px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.card-body{
  border-radius: 4px;
  background-color: var(--dark);
  font-size: 0;
}

.card-name {
  color: white;
  font-size: 1rem;
  margin: 0;
  background-color: var(--dark);
  width: 175px;
  
  padding: 3px 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card-img {
  margin: 0;
  width: 175px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
